.body {
  background-color: whitesmoke;
  overflow: hidden;
}

.hidden {
  display: none;
}

.radius {
  border-radius: 16px;
}

.outer-container {
  bottom: 0;
  height: 100vh;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.photo {
  border-radius: 32px;
  height: 320px;
  margin-bottom: 32px;
  width: 320px;
}

.name {
  color: #434343;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 24px;
}

.nickname {
  color: #ff0000;
  text-decoration: underline;
}

.roles {
  color: #808080;
  font-size: 22px;
  margin-bottom: 28px;
}

.activity {
  color: #434343;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 40px;
}

.contact-label {
  font-size: 24px;
  font-weight: bold;
  color: #434343;
}

.contact-list .contact-list-item {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 16px;
  transition: all .15s linear;
}
.contact-list .contact-list-item:hover {
  background-color: #e0e0e0;
  border: 1px solid #c0c0c0;
}
.contact-list .contact-list-item:active {
  background-color: #b0b0b0;
}

.nav .nav-item .nav-link {
  color: #c0c0c0;
  font-weight: 600;
  margin: 8px 16px 8px 0;
  padding: 0;
}
.nav .nav-item .nav-link.active {
  background-color: transparent;
  color: #434343;
}