.body {
  background-color: whitesmoke;
}

.divider {
  width: 5%;
  height: 8px;
  margin: 32px auto;
  background-color: #ff0000;
  border-radius: 100px;
}

.outer-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.inner-container {
  text-align: center;
}

.photo {
  width: 320px;
  height: 320px;
  border-radius: 32px;
  box-shadow: 0 2px 16px #eaeaea;
  margin-bottom: 32px;
}

.name {
  font-size: 48px;
  font-weight: bold;
  color: #434343;
  margin-bottom: 24px;
}

.roles {
  color: #808080;
  font-size: 22px;
  margin-bottom: 40px;
}

.activity {
  font-size: 32px;
  font-weight: 600;
  color: #434343;
  margin-bottom: 40px;
}

.contact-label {
  font-size: 24px;
  font-weight: bold;
  color: #434343;
}

.contact-list .contact-list-item {
  display: inline-block;
  border-radius: 16px;
  border: 1px solid transparent;
  transition: all 0.15s linear;
}
.contact-list .contact-list-item:hover {
  background-color: #e0e0e0;
  border: 1px solid #c0c0c0;
}
.contact-list .contact-list-item:active {
  background-color: #b0b0b0;
}
